html,
body {
    scroll-behavior: smooth;
    overflow-x: visible;
    background-color:#8db1fb;
}

br {
    color: red;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #7eabff;
    border: 2px solid #faecec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #56ffeb;
}

.webviewer {
    flex: 1;
    margin: 8px;
    -webkit-box-shadow: 1px 1px 10px #999;
    box-shadow: 1px 1px 10px #999;
}


img {
    max-width: 400px;
    max-height: 600px;
   
}



@tailwind base;

@tailwind components;
@tailwind utilities;
