html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color:#1a202c;
}

br {
    color: red;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.webviewer {
    flex: 1;
    margin: 8px;
    -webkit-box-shadow: 1px 1px 10px #999;
    box-shadow: 1px 1px 10px #999;
}


img {
    max-width: 400px;
    max-height: 600px;
   
}
@tailwind base;
@tailwind components;
@tailwind utilities;
